{% extends 'mailing/base.html' %}
{% block content %}
<br>
<h2 align="center">
    {% if client %}
    Редактировать клиента
    {% else %}
    Создать нового клиента
    {% endif %}
</h2><br><br>
<div class="col-md-10 mx-auto">
    <div class="row"><br>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                            {% if client %}
                            Сохранить
                            {% else %}
                            Создать
                            {% endif %}
                        </button>
                    </form>
                    <br>
                    <a align="center " href="{% url 'mailing:client_list' %}"
                       class="button">Назад к списку клиентов</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}