{% extends 'mailing/base.html' %}
{% block content %}
<div>
    <div class="row mt-2">
        <div class="col m-2"><br>
        {#    {% if not perms.mail.can_manager_view %}   #}
            <h2 align="center">Список ваших клиентов</h2>
            <br>
            <div class="row mt-2">
                <div class="col m-2">
                    <a class="btn btn-outline-primary" href="{% url 'mailing:client_create' %}">Добавить нового
                        клиента</a>
                </div>
            </div>
            {#   {% else %}                                #}
            <h2 align="center">Клиенты нашего сервиса</h2>
            <br>
            {# {% endif %}                                 #}
            {% if client_list %}
            <br>
            <table class="table">
                <thead>
                <tr class="table-success">
                    <th>№</th>
                    <th>Имя клиента</th>
                    <th>Email клиента</th>
                    <th>Комментарий</th>
                    <th>Действия с клиентом</th>
                </tr>
                </thead>
                <tbody>
                {% for client in client_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ client.fullname }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.comment }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{% url 'mailing:client_view' client.pk %}"
                               class="btn btn-sm btn-outline-secondary">Посмотреть</a>
         {#                   {% if not perms.mail.can_manager_view %}                                   #}
                            <a href="{% url 'mailing:client_update' client.pk %}"
                               class="btn btn-sm btn-outline-primary">Редактировать</a>
                            <a href="{% url 'mailing:client_delete' client.pk %}"
                               class="btn btn-sm btn-outline-danger">Удалить</a>
         {#                   {% endif %}                                                                #}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}<br>
            <p align="center">Вы еще ничего не создавали</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}