{% extends 'mailing/base.html' %}
{% block content %}
    <br>
    <h2 align="center">Просмотр клиента</h2><br><br>
    <div class="row mx-2">
        <div class="col-md-4 mb-3">
        </div>
        <div class="col-md-8 mb-3">
            <p><b>Имя:</b> {{ client.fullname }}</p>
            <p><b>Email:</b> {{ client.email }}</p>
            <p><b>Комментарий:</b><br>{{ client.comment }}</p><br>
            <a href="{% url 'mailing:client_list' %}"
               class="button">Назад к списку клиентов</a>
        </div>
    </div><br><br>
{% endblock %}