{% extends 'mailing/base.html' %}
{% block content %}
<div>
    <div class="row mt-2">
        <div class="col m-2"><br>
{#            {% if not perms.mail.can_manager_view %}     #}
            <h2 align="center">Все ваши рассылки</h2>
            <p align="center">Начните сооздавать вашу первую рассылку с создания нового привлекательного
                сообщения
                и добавления списка получателей</p><br>
            <div class="row mt-2">
                <div class="col m-2">
                    <a class="btn btn-outline-primary" href="{% url 'mailing:mailing_create' %}">Добавить
                        рассылку</a>
                    <a class="btn btn-outline-primary" href="{% url 'mailing:message_create' %}">Добавить
                        сообщение</a>
                    <a class="btn btn-outline-primary" href="{% url 'mailing:client_create' %}">Добавить
                        клиента</a>
                </div>
            </div>
 {#           {% else %}                                                           #}
            <h2 align="center">Рассылки всех пользователей</h2>
            <br>
            <div class="row mt-2">
                <div class="col m-2">
                    <a class="btn btn-outline-primary" href="#">Список всех
                        пользователей</a>
                </div>
            </div>
   {#         {% endif %}                                    #}
            {% if mailing_list %}
            <br>
            <table class="table table-reflow">
                <thead>
                <tr class="table-success">
                    <th>№</th>
                    <th>Сообщение</th>
                    <th>Начало</th>
                    {# <th>Окончание</th> #}
                    <th>Период</th>
                    <th>Статус</th>
                    <th>Клиенты</th>
                    <th>Действия с рассылками</th>
                </tr>
                </thead>
                <tbody>
                {% for mailing in mailing_list %}
                <tr class="{% if mailing.status == 'created' %}bg-warning
                                   {% elif mailing.status == 'started' %}bg-success
                                   {% elif mailing.status == 'completed' %}bg-danger
                                   {% endif %}">

                    <td>{{ forloop.counter }}</td>
                    <td>{{ mailing.message.message_subject }}</td>
                    <td>{{ mailing.start_time }}</td>
                    <td>{{ mailing.status }}</td>

                    {% if mailing.get_status == 'created' %}
                    <td class="text-black-50">{{ mailing.get_status }}</td>
                    {% elif mailing.get_status == 'started' %}
                    <td class="text-primary">{{ mailing.get_status }}</td>
                    {% elif mailing.get_status == 'completed' %}
                    <td class="text-success">{{ mailing.get_status }}</td>
                    {% endif %}
                    <td>
                        {% for client in mailing.client.all %}
                        {{ client.email }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% if not perms.mail.can_manager_view %}
                        <div class="btn-group">
                            {% if mailing.get_status == 'created' %}
                            <a href="{% url 'mailing:send_mailing' mailing.pk %}"
                               class="btn btn-sm btn-outline-success">Отправить</a>
                            {% endif %}
                            <a href="{% url 'mailing:mailing_view' mailing.pk %}"
                               class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                            <a href="{% url 'mailing:mailing_update' mailing.pk %}"
                               class="btn btn-sm btn-outline-primary">Редактировать</a>
                            <a href="{% url 'mailing:delete_mailing' mailing.pk %}"
                               class="btn btn-sm btn-outline-danger">Удалить</a>
                            {% else %}
                            <div class="btn-group">
                                <a href="{% url 'mailing:mailing_view' mailing.pk %}"
                                   class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                                {% if mailing.is_active %}
                                <a href="#"
                                   class="btn btn-sm btn-outline-danger">Остановить</a>
                                {% else %}
                                <a href="#"
                                   class="btn btn-sm btn-outline-success">Начать</a>
                                {% endif %}
                                <a href="#"
                                   class="btn btn-sm btn-outline-primary">Пользователь</a>
                                {% endif %}
                            </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}<br>
            <p align="center">Нет доступных рассылок</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}